[Desktop Entry]
Name=Example
Comment=no
Type=Application
Icon=com.github.pop-os.cosmic-app-template
Exec=example %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
